.active {
  color: white;
  background: #111;
}
#fst {
  display: inline-block;
  width: 100%;
}
#fst #header {
  background: #ddf;
}
#fst #patternBox table {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-spacing: 0px;
}
#fst #patternBox table td {
  border-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 4px;
}
#fst #patternBox table td.pos {
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#fst #patternBox table td.oct,
#fst #patternBox table td.fx0Val {
  border-left: 0;
}
#popup,
#keyField {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: white;
  border: 0 dotted #111;
  box-sizing: border-box;
  transition: all 0.6s;
}
#popup.open,
#keyField.open {
  border: 3px dotted #111;
  transition: all 0.3s;
}
#popup.open.h100,
#keyField.open.h100 {
  height: 100%;
}
#popup.open.h60,
#keyField.open.h60 {
  height: 60%;
}
#popup .col1,
#popup .col2 {
  position: relative;
  width: 49.5%;
  height: 99%;
  background: #111;
  color: #fff;
  box-sizing: border-box;
  margin: 0.25%;
  text-align: center;
  overflow: hidden;
}
#popup .col1.active,
#popup .col2.active {
  background: #000;
  color: #ff0;
}
#popup .col1 span,
#popup .col2 span {
  display: block;
  border-bottom: 1px solid white;
  padding: 3px;
  font-weight: lighter;
}
#popup .col1 span.active,
#popup .col2 span.active {
  background: #444;
}
#popup .col1 span.preActive,
#popup .col2 span.preActive {
  background: #888;
}
#popup .col1 {
  float: left;
}
#popup .col2 {
  float: right;
}
#keyField {
  text-align: center;
}
#keyField div {
  display: block;
}
#keyField div .active {
  background: #333;
  color: #aaa;
}
#keyField div input {
  width: 74%;
}
#keyField div button {
  width: 25%;
  float: right;
}
#keyField div span {
  height: 100%;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
}
